[submodule "subrepo"]
	path = subrepo
	url = https://github.com/n0str/subrepo.git
[submodule "api"]
	path = api
	url = https://github.com/codex-team/hawk.api.nodejs
[submodule "client"]
	path = client
	url = https://github.com/codex-team/hawk.garage
